* {
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

li {
   margin-block: 10px;
}

body {
   width: 90%;
   margin-left: auto;
   margin-right: auto;
}

aside {
   display: inline-block;
   vertical-align: top;
   margin-top: 20px;
   width: 20%;
   height: 100%;
}

aside article {
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   background-color: aliceblue;
   margin: 10px;
   padding: 10px;
   border-radius: 10px;
   text-align: center;
}

aside .article-content {
   padding: 5px;
}

aside h3 {
   margin-top: 0%;
   font-size: 15px;
}

aside p {
   font-family: monospace;
   font-size: 13px;
   text-align: left;
}

aside a {
   color: black;
   text-decoration: none;
}

aside img {
   max-width: 100%;
   max-height: 100%;
}

main {
   width: 95%;
   margin-left: auto;
   margin-right: auto;
}

.header {
   background-color: rgb(195, 217, 236);
   text-align: center;
   padding-bottom: 20px;
   padding-top: 1px;
}

.header p {
   font-family: monospace;
   color: rgb(37, 37, 37);
   border: 5px solid rgb(0, 0, 0);
   width: fit-content;
   font-size: 30px;
   margin-block: 20px;
   margin-left: auto;
   margin-right: auto;
   padding-inline: 10px;
}

.header nav a {
   border: 2px black solid;
   color: black;
   background-color: aliceblue;
   padding: 10px;
   width: fit-content;
   padding-inline: 20px;
   margin: 0%;
   text-decoration: none;
}

.header nav a:hover {
   background-color: rgb(255, 255, 255);
}

main h1 {
   font-family: monospace;
   font-size: 30px;
   margin-block: 10px;
}

.summaries {
   display: inline-block;
   width: 79%;
   margin-top: 20px;
}

.summaries details {
   background-color: aliceblue;
   margin: 10px;
   padding: 10px;
   border-radius: 10px;
}

.summary-content {
   font-size: 15px;
   font-weight: 100;
   display: inline-block;
   background-color: rgb(53, 62, 75);
   color: white;
   padding: 20px;
   border-radius: 5px;
   border: 1px solid rgb(255, 255, 255);
}

.summary-content * {
   font-family: monospace;
}

.notes {
   color: orange;
   font-size: 14px;
}
