@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@100;200;300;400;500;600;700&family=Inconsolata:wght@200;300;400;600;700&display=swap");

a {
   color: orange;
}

* {
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

li {
   margin-block: 10px;
}

body {
   width: 90%;
   margin-left: auto;
   margin-right: auto;
}

body h1 {
   font-family: "Inconsolata", monospace;
}

aside {
   display: inline-block;
   vertical-align: top;
   margin-top: 20px;
   width: 15%;
}

aside article {
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   background-color: aliceblue;
   margin: 10px;
   border-radius: 10px;
   text-align: center;
}

aside .article-content {
   padding: 10px;
}

aside h3 {
   margin-top: 0%;
   font-size: 1em;
}

aside p {
   font-family: monospace;
   font-size: 1em;
   text-align: left;
}

aside a {
   color: black;
   text-decoration: none;
}

aside img {
   max-width: 100%;
   max-height: 100%;
}

main {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
}

.header {
   background-color: rgb(195, 217, 236);
   text-align: center;
   padding-bottom: 20px;
   padding-top: 1px;
}

.header p {
   font-family: monospace;
   color: rgb(37, 37, 37);
   border: 5px solid rgb(0, 0, 0);
   width: fit-content;
   font-size: 30px;
   margin-block: 20px;
   margin-left: auto;
   margin-right: auto;
   padding-inline: 10px;
}

.header nav a {
   border: 2px black solid;
   color: black;
   background-color: aliceblue;
   padding: 10px;
   width: fit-content;
   padding-inline: 20px;
   margin: 0%;
   text-decoration: none;
}

.header nav a:hover {
   background-color: rgb(255, 255, 255);
}

main h1 {
   font-family: monospace;
   font-size: 30px;
   margin-block: 10px;
}

.summaries {
   display: inline-block;
   width: 68%;
   margin-top: 20px;
}

.summaries details {
   background-color: aliceblue;
   margin: 10px;
   padding: 10px;
   border-radius: 10px;
}

.summaries summary:hover {
   cursor: pointer;
}

.summary-content {
   font-size: 15px;
   display: inline-block;
   background-color: rgb(53, 62, 75);
   color: white;
   padding: 20px;
   border-radius: 5px;
   border: 1px solid rgb(255, 255, 255);
}

.summary-content * {
   font-family: "Inconsolata", monospace;
   font-weight: 300;
   letter-spacing: 0.03em;
}

.summaries .notes {
   color: orange;
   font-family: "IBM Plex Sans Hebrew", sans-serif;
   font-size: 14px;
   font-weight: 200;
   letter-spacing: normal;
}

footer {
   background-color: rgb(195, 217, 236);
   padding: 20px 10px 5px;
}

footer h3 {
   width: fit-content;
   margin-left: auto;
   margin-right: 0;
   margin-block: 0px;
   border: 1px black solid;
   padding: 2px;
   font-family: "Inconsolata", monospace;
   font-size: 0.7em;
   /* vertical-align: bottom; */
}
